.modal-window-outside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  padding: 3px;
  background-color: blue;
  color: white;
  margin: 0 auto;
  border-radius: 5px;
}

.modal-window-inside {
  padding: 10px;
  margin-top: 5px;
  background-color: white;
  color: black;
  height: 100%;
}

.modal-terminal-outside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  font-family: "terminal", sans-serif;
  background-color: #292929;
  color: white;
  padding: 3px;
  margin: 0 auto;
}

.modal-terminal-inside {
  font-family: "terminal", sans-serif;
  padding: 10px;
  background-color: black;
  color: white;
  height: 100%;
  margin-top: 5px;
}

@media screen and (min-width: 375px) {
  .modal-window-outside,
  .modal-terminal-outside {
    min-width: 350px;
    height: 70vh;
  }
}

@media screen and (min-width: 768px) {
  .modal-window-outside,
  .modal-terminal-outside {
    min-width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-window-outside,
  .modal-terminal-outside {
    min-width: 1000px;
  }
}

.is-open {
  display: flex;
}

.title-button {
  margin-top: 3px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.folder-title {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  background-color: transparent;
}

.cross-icon {
  border: 1px solid white;
  border-radius: 5%;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
}

.cross-icon:hover {
  background-color: darkred;
}
.cross-icon-black {
  border: 1px solid white;
  border-radius: 5%;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
}

.cross-icon-black:hover {
  background-color: #292929;
}
